/* =========================
   🔘 BUTTONS
========================= */

.dashboard-btn {
  background: linear-gradient(
    135deg,
    #6366f1,
    #8b5cf6
  );

  color: white;

  border: none;
  border-radius: 14px;

  box-shadow:
    0 10px 24px
      rgba(99, 102, 241, 0.35);

  transition: all 0.2s ease;
}

.dashboard-btn:hover {
  transform: translateY(-2px);

  background: linear-gradient(
    135deg,
    #7c3aed,
    #6366f1
  );
}

.btn {
  padding: 10px 14px;

  border-radius: 14px;

  border: none;

  cursor: pointer;

  font-weight: 600;

  transition: all 0.2s ease;

  font-size: 13px;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn.primary {
  background: linear-gradient(
    135deg,
    #6366f1,
    #8b5cf6
  );

  color: white;

  box-shadow:
    0 10px 24px
      rgba(99, 102, 241, 0.35);
}

.btn.primary:hover {
  background: linear-gradient(
    135deg,
    #7c3aed,
    #6366f1
  );
}

.btn.secondary {
  background:
    rgba(255, 255, 255, 0.08);

  color: #e5e7eb;

  border: 1px solid
    rgba(255, 255, 255, 0.08);
}

.btn.secondary:hover {
  background:
    rgba(255, 255, 255, 0.12);
}

.btn.success {
  background:
    rgba(34, 197, 94, 0.15);

  color: #4ade80;
}

.btn.warning {
  background:
    rgba(251, 191, 36, 0.15);

  color: #facc15;
}

.btn.danger {
  background:
    rgba(239, 68, 68, 0.15);

  color: #f87171;
}

.close-btn {
  background: linear-gradient(
    135deg,
    #6366f1,
    #8b5cf6
  );

  position: relative;

  color: white;

  box-shadow:
    0 10px 24px
      rgba(99, 102, 241, 0.35);
}

.close-btn:hover {
  background: linear-gradient(
    135deg,
    #7c3aed,
    #6366f1
  );
}

.btn.secondary-btn {
  background:
    rgba(255, 255, 255, 0.08);

  width: 400px;

  color: white;

  border: 1px solid
    rgba(255, 255, 255, 0.08);

  box-shadow:
    0 8px 20px
      rgba(0, 0, 0, 0.18);
}

.btn.secondary-btn:hover {
  background:
    rgba(255, 255, 255, 0.14);
}